input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
    appearance:textfield;
    padding: 0 !important;
    height: 30px !important;
}

input[type=number]::before{
    padding: 0 !important;
}

.css-4sq2lb-MuiInputBase-root-MuiInput-root-MuiSelect-root{
    margin-top: 0 !important;
}

.css-ycwihk-MuiInputBase-root-MuiInput-root-MuiSelect-root, .css-1qi6142-MuiInputBase-root-MuiInput-root-MuiSelect-root{
    margin-top: 0 !important;
}

.menu_item_container{
    height: 300px;
    overflow: auto;
    scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}