.image-pre-viewer-showed{
  position: absolute;
  bottom: 50px;
  left:0;
  right: 0;
  background: rgba(76, 66, 66, 0.73);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(76, 66, 66, 0.03);
  height: 100px;
  overflow: hidden;
}

.image-pre-viewer-hidden{
  display: none;
}